<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <h1>Welcome to the better life</h1>
    <p>This is a new page</p>
    <div class="card">
        <div class="cardSide">
            <img src="/img/pexels-photo-10112958.jpeg" alt="image">
        </div>

        <div class="cardSide">
            <img src="/img/pexels-photo-1915715.jpeg" alt="image">
        </div>
    </div>
    
</body>
</html>